body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.container {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

li {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
}
